# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

orbs:
  cypress: cypress-io/cypress@2.2.0
  node: circleci/node@5.0.2
  
executors:
  with-chrome:
    docker:
      - image: 'cypress/browsers:node14.16.0-chrome90-ff88'  
      
          
# Create jobs via workflows
workflows:
    cypress-workflow:
      jobs:
      
       # - cypress/run:
       #     post-install:
       #     - run: npm install -g browserstack-cypress-cli
       #     name: suiteUI-cypress-browserstack
       #     command: npm run cy:UI:browserstack
       #     record: true 
       #     browser: chrome             
       #     store_artifacts: true 
       #     executor: with-chrome 
      
       # - cypress/run:
       #     post-install:
       #     - run: npm install -g browserstack-cypress-cli
       #     name: suiteAPI-cypress-browserstack
       #     command: npm run cy:API:browserstack
       #     record: true 
       #     browser: chrome             
       #     store_artifacts: true 
       #     executor: with-chrome
        
        - cypress/run:            
            post-install:
            - run: npm install -g browserstack-cypress-cli
            name: suiteUI-cypress-dashboard
            command: npm run cy:UI:chrome:dash
            record: true 
            browser: chrome             
            store_artifacts: true 
            executor: with-chrome
            post-steps:
            - store_test_results:
                path: cypress/report
            
            
        - cypress/run:
            post-install:
            - run: npm install -g browserstack-cypress-cli
            name: suiteAPI-cypress-dashboard
            command: npm run cy:API:chrome:dash
            record: true 
            browser: chrome             
            store_artifacts: true 
            executor: with-chrome
            post-steps:
            - store_test_results:
                path: cypress/results
            
         
         
